In [6]:
# import dependencies
import pandas as pd
import matplotlib as plt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
Base = automap_base()

In [13]:
# get draft data
engine = create_engine('sqlite:///../data/fbdata.sqlite')
Base.metadata.create_all(engine)
Base.prepare(engine, reflect=True)
session = Session(engine)
draftDf = pd.read_sql_query("SELECT * FROM draftHistory WHERE Pos = 'QB'", con=engine)
print(draftDf.columns)
draftDf

Index(['DraftYear', 'Rnd', 'Pick', 'Tm', 'Player', 'Pos', 'Age', 'To', 'AP1',
       'PB', 'St', 'College/Univ', 'CollegeStats'],
      dtype='object')

,DraftYear,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,College/Univ,CollegeStats
0,1987,1,1,TAM,Vinny Testaverde,QB,23,2007,0,2,15,Miami (FL),http://www.sports-reference.com/cfb/players/vi...
1,1987,1,6,STL,Kelly Stouffer,QB,23,1992,0,0,0,Colorado St.,http://www.sports-reference.com/cfb/players/ke...
2,1987,1,13,ATL,Chris Miller,QB,22,1999,0,1,7,Oregon,http://www.sports-reference.com/cfb/players/ch...
3,1987,1,26,CHI,Jim Harbaugh,QB,23,2000,0,1,10,Michigan,http://www.sports-reference.com/cfb/players/ji...
4,1987,3,64,HOU,Cody Carlson,QB,23,1994,0,0,0,Baylor,http://www.sports-reference.com/cfb/players/co...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,2020,6,189,JAX,Jake Luton,QB,None,None,0,0,0,Oregon St.,http://www.sports-reference.com/cfb/players/ja...
431,2020,7,224,TEN,Cole McDonald,QB,None,None,0,0,0,Hawaii,http://www.sports-reference.com/cfb/players/co...
432,2020,7,231,DAL,Ben DiNucci,QB,None,None,0,0,0,James Madison,http://www.sports-reference.com/cfb/players/be...
433,2020,7,240,NOR,Tommy Stevens,QB,23,None,0,0,0,Mississippi St.,http://www.sports-reference.com/cfb/players/to...
434,2020,7,244,MIN,Nate Stanley,QB,None,None,0,0,0,Iowa,http://www.sports-reference.com/cfb/players/na...

In [12]:
CFBStats = pd.read_sql_query("SELECT * FROM CFBStats", con=engine)
print(CFBStats.columns)
CFBStats

Index(['year', 'school', 'conf', 'class', 'pos', 'games', 'rushAtt', 'rushYds',
       'rushAvg', 'rushTD', 'rec', 'recYds', 'recAvg', 'recTD', 'plays',
       'ydsFromScrim', 'ydsFromScrimAvg', 'rushRecTD', 'passComp', 'passAtt',
       'compPct', 'passYds', 'ydsPerAtt', 'adjYdsPerAtt', 'TD', 'int',
       'effRate', 'name'],
      dtype='object')

,year,school,conf,class,pos,games,rushAtt,rushYds,rushAvg,rushTD,...,passComp,passAtt,compPct,passYds,ydsPerAtt,adjYdsPerAtt,TD,int,effRate,name
0,1996,Kentucky,SEC,None,QB,7.0,24,-26,-1.1,0,...,32.0,84.0,38.1,276.0,3.3,3.0,1.0,1.0,67.2,Tim Couch
1,1997,Kentucky,SEC,None,QB,11.0,66,-125,-1.9,3,...,363.0,547.0,66.4,3884.0,7.1,6.9,37.0,19.0,141.4,Tim Couch
2,1998,Kentucky,SEC,None,QB,11.0,64,-124,-1.9,1,...,400.0,553.0,72.3,4275.0,7.7,7.8,36.0,15.0,153.3,Tim Couch
3,Career,Kentucky,None,None,None,NaN,154,-275,-1.8,4,...,795.0,1184.0,67.1,8435.0,7.1,7.0,74.0,35.0,141.7,Tim Couch
4,1995,Syracuse,Big East,None,QB,11.0,123,261,2.1,2,...,128.0,207.0,61.8,1991.0,9.6,9.9,16.0,6.0,162.3,Donovan McNabb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,2016,Iowa,Big Ten,FR,QB,5.0,0,0,NaN,0,...,5.0,9.0,55.6,62.0,6.9,6.9,0.0,0.0,113.4,Nate Stanley
1185,2017,Iowa,Big Ten,SO,QB,13.0,49,-115,-2.3,0,...,196.0,351.0,55.8,2432.0,6.9,7.6,26.0,6.0,135.1,Nate Stanley
1186,2018,Iowa,Big Ten,JR,QB,13.0,36,4,0.1,1,...,235.0,396.0,59.3,2852.0,7.2,7.4,26.0,10.0,136.5,Nate Stanley
1187,2019,Iowa,Big Ten,SR,QB,13.0,76,7,0.1,1,...,237.0,399.0,59.4,2951.0,7.4,7.4,16.0,7.0,131.2,Nate Stanley
1188,Career,Iowa,None,None,None,NaN,161,-104,-0.6,2,...,673.0,1155.0,58.3,8297.0,7.2,7.5,68.0,23.0,134.1,Nate Stanley

In [21]:
combineStats = pd.read_sql_query("SELECT * FROM combineStats", con=engine)
print(combineStats.columns)
combineStats

Index(['year', 'name', 'college', 'position', 'height', 'weight', '40yard',
       'benchpress', 'vertleap', 'broadjump', 'shuttle', '3cone'],
      dtype='object')

,year,name,college,position,height,weight,40yard,benchpress,vertleap,broadjump,shuttle,3cone
0,2020.0,Kelly Bryant,Missouri,QB,75.0,225.0,4.69,NaN,35.0,125.0,4.51,7.33
1,2020.0,Joe Burrow,Louisiana State,QB,76.0,216.0,9.99,NaN,NaN,NaN,9.99,9.99
2,2020.0,Kevin Davidson,Princeton,QB,76.0,225.0,5.00,NaN,28.0,109.0,4.37,7.13
3,2020.0,Jacob Eason,Washington,QB,78.0,227.0,4.89,NaN,27.5,110.0,4.75,7.50
4,2020.0,Jake Fromm,Georgia,QB,74.0,220.0,5.01,NaN,30.0,111.0,4.51,7.27
...,...,...,...,...,...,...,...,...,...,...,...,...
708,1987.0,Loren Snyder,Northern Colorado,QB,75.6,207.0,5.15,6.0,26.5,104.0,4.63,9.99
709,1987.0,Kelly Stouffer,Colorado State,QB,75.0,212.0,4.95,NaN,28.0,108.0,4.51,9.99
710,1987.0,Kevin Sweeney,Frenso State (CA),QB,71.3,187.0,9.99,NaN,NaN,NaN,9.99,9.99
711,1987.0,Vinny Testaverde,Miami (FL),QB,76.3,213.0,4.75,13.0,NaN,NaN,9.99,9.99
712,1987.0,Jeff Van Raaphorst,Arizona State,QB,73.0,206.0,4.83,8.0,24.0,106.0,4.41,9.99

In [17]:
hof = pd.read_sql_query("SELECT * FROM hof WHERE Pos = 'QB'", con=engine)
print(hof.columns)
hof

Index(['Rank', 'Player', 'Pos', 'Year Inducted', 'From', 'To',
       '1st Team All-Pro', 'Number of Pro-Bowls', 'Years as Primary Starter',
       'CarAV', 'Games Played', 'PassingCmp', 'PassingAtt', 'PassingYds',
       'PassingTD', 'PassLng', 'PassingInt', 'Sk', 'Yds.1', 'RushingAtt',
       'RushingYds', 'RushingTD', 'RushLng', 'ReceivingRec', 'ReceivingYds',
       'ReceivingTD', 'RecLong', 'Hall of Fame'],
      dtype='object')

,Rank,Player,Pos,Year Inducted,From,To,1st Team All-Pro,Number of Pro-Bowls,Years as Primary Starter,CarAV,...,Yds.1,RushingAtt,RushingYds,RushingTD,RushLng,ReceivingRec,ReceivingYds,ReceivingTD,RecLong,Hall of Fame
0,34,Kurt Warner,QB,2017,1998,2009,2,4,8,96,...,1669.0,173.0,286.0,3.0,23.0,1.0,0.0,0.0,0.0,Y
1,35,Brett Favre,QB,2016,1991,2010,3,11,19,156,...,3487.0,602.0,1844.0,14.0,40.0,2.0,-7.0,0.0,2.0,Y
2,39,Ken Stabler,QB,2016,1970,1984,1,4,11,94,...,2514.0,118.0,93.0,4.0,18.0,NaN,NaN,NaN,NaN,Y
3,96,Troy Aikman,QB,2006,1989,2000,0,6,11,97,...,1748.0,327.0,1016.0,9.0,25.0,2.0,-19.0,0.0,0.0,Y
4,98,Warren Moon,QB,2006,1984,2000,0,9,15,119,...,3415.0,543.0,1736.0,22.0,35.0,NaN,NaN,NaN,NaN,Y
5,102,Dan Marino,QB,2005,1983,1999,3,9,16,145,...,1930.0,301.0,87.0,9.0,15.0,1.0,-6.0,0.0,0.0,Y
6,104,Steve Young,QB,2005,1985,1999,3,7,9,135,...,2055.0,722.0,4239.0,43.0,49.0,2.0,2.0,0.0,6.0,Y
7,107,John Elway,QB,2004,1983,1998,0,9,16,138,...,3785.0,774.0,3407.0,33.0,31.0,3.0,61.0,1.0,24.0,Y
8,115,Jim Kelly,QB,2002,1986,1996,1,5,11,103,...,2427.0,304.0,1049.0,7.0,24.0,2.0,40.0,0.0,35.0,Y
9,125,Joe Montana,QB,2000,1979,1994,3,8,12,123,...,2095.0,457.0,1676.0,20.0,21.0,NaN,NaN,NaN,NaN,Y
10,152,Dan Fouts,QB,1993,1973,1987,2,6,14,122,...,2304.0,224.0,476.0,13.0,32.0,1.0,0.0,0.0,0.0,Y
11,163,Bob Griese,QB,1990,1967,1980,2,8,12,105,...,2318.0,261.0,994.0,7.0,35.0,NaN,NaN,NaN,NaN,Y
12,169,Terry Bradshaw,QB,1989,1970,1983,1,3,13,106,...,2694.0,444.0,2257.0,32.0,39.0,0.0,1.0,0.0,1.0,Y
13,177,Len Dawson,QB,1987,1957,1975,2,7,12,110,...,1423.0,294.0,1293.0,9.0,43.0,NaN,NaN,NaN,NaN,Y
14,186,Fran Tarkenton,QB,1986,1961,1978,1,9,18,149,...,2337.0,675.0,3674.0,32.0,52.0,0.0,-12.0,0.0,0.0,Y
15,189,Joe Namath,QB,1985,1965,1977,1,5,9,94,...,1052.0,71.0,140.0,7.0,39.0,NaN,NaN,NaN,NaN,Y
16,191,Roger Staubach,QB,1985,1969,1979,0,6,8,105,...,2154.0,410.0,2264.0,20.0,33.0,1.0,-13.0,0.0,0.0,Y
17,197,Sonny Jurgensen,QB,1983,1957,1974,2,5,10,107,...,748.0,181.0,493.0,15.0,33.0,1.0,-3.0,0.0,0.0,Y
18,205,George Blanda,QB,1981,1949,1975,1,4,19,95,...,94.0,135.0,344.0,9.0,19.0,1.0,-16.0,0.0,7.0,Y
19,215,Johnny Unitas,QB,1979,1956,1973,5,10,14,114,...,590.0,450.0,1777.0,13.0,34.0,1.0,1.0,0.0,1.0,Y
20,223,Bart Starr,QB,1977,1956,1971,1,4,13,90,...,533.0,247.0,1308.0,15.0,39.0,NaN,NaN,NaN,NaN,Y
21,245,Y.A. Tittle,QB,1971,1948,1964,3,7,13,44,...,NaN,372.0,1245.0,39.0,45.0,1.0,4.0,0.0,4.0,Y
22,246,Norm Van Brocklin,QB,1971,1949,1960,1,9,9,17,...,NaN,102.0,40.0,11.0,16.0,NaN,NaN,NaN,NaN,Y
23,263,Bobby Layne,QB,1967,1948,1962,2,6,13,20,...,NaN,611.0,2451.0,25.0,36.0,NaN,NaN,NaN,NaN,Y
24,275,Otto Graham,QB,1965,1946,1955,7,5,10,0,...,NaN,405.0,882.0,44.0,36.0,NaN,NaN,NaN,NaN,Y
25,276,Sid Luckman,QB,1965,1939,1950,5,3,10,0,...,NaN,204.0,-239.0,4.0,40.0,1.0,15.0,0.0,15.0,Y
26,278,Bob Waterfield,QB,1965,1945,1952,3,2,6,0,...,NaN,75.0,21.0,13.0,25.0,3.0,19.0,0.0,18.0,Y
27,284,Sammy Baugh,QB,1963,1937,1952,4,6,13,0,...,NaN,324.0,325.0,9.0,41.0,1.0,0.0,0.0,0.0,Y

In [22]:
probowl = pd.read_sql_query("SELECT * FROM probowl", con=engine)
print(probowl.columns)
probowl

Index(['Player', 'Number of Pro-Bowls', 'Pro-Bowler'], dtype='object')

             Player  Number of Pro-Bowls Pro-Bowler
0        A.J. Bouye                    1          Y
1         A.J. Duhe                    1          Y
2        A.J. Green                    7          Y
3      Aaron Donald                    5          Y
4       Aaron Glenn                    3          Y
...             ...                  ...        ...
1570   Zach Miller+                    1          Y
1571    Zach Thomas                    7          Y
1572    Zack Martin                    5          Y
1573    Zak DeOssie                    2          Y
1574  Zane Beadles+                    1          Y

[1575 rows x 3 columns]